@font-face {
    font-family: expose;
    src: url(../img/Expose-Regular.ttf);
}

body 
    {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
        background-image: url(../img/background.png);
        object-fit: cover;
        background-position: 50% 50%;
        background-attachment: fixed;

        transition: ease 0.2s;
    }



.square
    {
        height: 150px;
        width: 120%; 
        background-color: black;
        position: fixed;
        top: 0vh;
        left: 0vh;
        z-index: 0;
    }

h 
    {
        z-index: 2;
        font-family: expose; 
        font-size: 110px;
        position: fixed;
        top: 0;
        left: 220px;
        
        transform: skew(0deg, -2deg);
    }

.desktop
    {
        display: none;
    }

.mobile
    {
        display: block;
    }

.textbg1
    {
        z-index: -1;
        border-bottom: 1.2em solid white; /*controls the height*/
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 5.5em;
        position: absolute;
        top: 5px;
        left: -15px;
        transform: skew(0deg, -2deg);
    }

.textbg2
    {
        z-index: -1;
        border-bottom: 1.2em solid white; /*controls the height*/
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 1.8em;
        position: absolute;
        top: 5px;
        left: -15px;
        transform: skew(0deg, -2deg);
    }

.icon
    {
        position: absolute;
        display: hidden;
        scale: 0;
    }

p
    {
        transition: ease 0.2s;
        
        font-size: 20px;
        background-color: white;
        border: 2px solid black;
        padding: 20px;
        transform: skew(0deg,-7deg);
        position: relative;
        left: 0px;
        top: 50px;
    }

.sidenav 
    {
      height: 40%;
      width: 0; /*This is gonna be changed in js to expand*/
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      transform: skewX(-5deg);
      transform-origin: top;
    }
    
    /* The navigation menu links */
.sidenav a 
    {
        font-family: expose;

    
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
.sidenav a:hover 
    {
      color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
.sidenav .closebtn 
    {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main 
    {
      transition: margin-left .5s;
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
    {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

.btn
   {
    z-index: 1;
    position: fixed;
    transition: ease .2s;
    top: 35px;
    left: 40px;
   }

.btn:hover
   {
        transform: rotate(2deg) scale(1.1);
        cursor: pointer;
   }

#home
   {
    transform: skew(0deg, -7deg);
   }

#port
   {
    transform: skew(2deg, 1deg);
   }

#contact
   {
    transform: skew(0deg, 7deg);
   }



@media (min-width: 876px) 
   {
        body
            {
                transition: ease 0.2s;

                overflow: hidden;
            }

       .mobile
           {
               display: none;
           } 
       .desktop
           {
               display: block;
           } 

        p
            {
                font-size: 30px;
                background-color: white;
                border: 2px solid black;
                padding: 20px;
                transform: skew(0deg,-7deg);
                position: relative;
                left: -250px;
                top: 50px;
            }
            .icon
                {
                    display: block;
                    z-index: 4;
                    position: fixed;
                    top: 20px;
                    right: 50px;
                    scale: 1;
                }
   }