@font-face {
    font-family: expose;
    src: url(../img/Expose-Regular.ttf);
}

body 
    {
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background-image: url(../img/smthsmth.png);
        object-fit: cover;
        background-position: 50% 50%;
        background-attachment: fixed;
    }



.square
    {
        height: 150px;
        width: 120%; 
        background-color: black;
        position: fixed;
        top: 0vh;
        left: 0vh;
        z-index: 7;
    }

h 
    {
        z-index: 9;
        font-family: expose; 
        font-size: 110px;
        position: fixed;
        top: 0;
        left: 200px;
        
        transform: skew(0deg, -2deg);
    }

p
    {
        transition: ease 0.2s;
        
        font-size: 20px;
        background-color: white;
        border: 2px solid black;
        padding: 20px;
        transform: skew(0deg,-7deg);
        position: relative;
        left: 0px;
        top: 50px;
    }

.desktop
    {
        display: none;
    }

.mobile
    {
        display: block;
    }


.textbg
    {
        position: fixed;
        top: 15px;
        left: 170px;

        z-index: 8;
        border-bottom: 110px solid white; /*controls the height*/
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 270px;
        transform: skew(0deg, -2deg);
    }


.icon
    {
        position: absolute;
        display: hidden;
        scale: 0;
    }

.sidenav 
    {
      height: 40%;
      width: 0; /*This is gonna be changed in js to expand*/
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      transform: skewX(-5deg);
      transform-origin: top;
    }
    
    /* The navigation menu links */
.sidenav a 
    {
        font-family: expose;

    
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
.sidenav a:hover 
    {
      color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
.sidenav .closebtn 
    {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main 
    {
      transition: margin-left .5s;
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
    {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

.btn
   {
    z-index: 9;
    position: fixed;
    transition: ease .2s;
    top: 35px;
    left: 40px;
   }

.btn:hover
   {
        transform: rotate(2deg) scale(1.1);
        cursor: pointer;
   }

#home
   {
    transform: skew(0deg, -7deg);
   }

#port
   {
    transform: skew(2deg, 1deg);
   }

#contact
   {
    transform: skew(0deg, 7deg);
   }

.card  
   {
        display: flex;
        flex-direction: column;

        position: absolute;

        padding-top: 350px;
        width: 290px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
        transition: ease 0.2s;
   }
#card1
   {
        /*originally I had z index on the negativs, but uh htat broke really fast lmao. Note to self, never use negative z index again*/
        z-index: 0;
        left: 0;
        bottom: 0;
        transform: rotate(-10deg);
   }


#card1:hover
   {
    z-index: 5;
    transform: rotate(0deg);
    bottom: 125px;
   }
#card2
   {
        z-index: 1;
        right: 0px;
        bottom: 0px;
        transform: rotate(10deg);
   }
   
#adobe_i
   {
    position: absolute;
    transition: ease 0.2s;
    top: -90px;
    left: -63px;
    height: 100%;
    width: 100%;
    transform: scale(0.4);
   }

#card2:hover
    {
        z-index: 5;
        transform: rotate(0deg);
        bottom: 125px;
    }
#card3
    {
        z-index: 2;
        left: 0;
        bottom: -300px;
        transform: rotate(-10deg);
    }

#card3:hover
    {
        z-index: 5;
        bottom: -150px;
        transform: rotate(0deg);
    }
#card4
    {
        z-index: 3;
        right: 0;
        bottom: -300px;
        transform: rotate(10deg);
    }
#card4:hover
    {
        z-index: 5;
        transform: rotate(0deg);
        bottom: -150px;
    }
#card5
    {
        z-index: 3;
        left: 0;
        bottom: -600px;
        transform: rotate(-10deg);
    }
#card5:hover
    {
        z-index: 5;
        transform: rotate(0deg);
        bottom: -500px;
    }
#card6
    {
        z-index: 3;
        right: 0;
        bottom: -600px;
        transform: rotate(10deg);
    }
#card6:hover
    {
        z-index: 5;
        transform: rotate(0deg);
        bottom: -500px;
    }
.clock
    {
        position: absolute;

        object-fit: contain;
        top: 0;
        height: 350px;
        width: 290px;
        border-radius: 18px;
    }
.RIG
    {
        position: absolute;

        object-fit: contain;
        top: 0;
        height: 350px;
        width: 290px;
        border-radius: 18px;
    }
.waffle
    {
        position: absolute;

        object-fit: contain;
        top: 0;
        height: 350px;
        width: 290px;
        border-radius: 18px;
    }

.iconimg
    {
        position: absolute;
        left: 25%;
        top: 30%;
    }
.someonehelpme
    {
        position: absolute;
        height: 350px;
        width: 290px;
        top: 0;
    }

.image
    {
        border-radius: 500px;
    }

@media (min-width: 876px) 
    {

        .mobile
            {
                display: none;
            } 
        .desktop
            {
                display: block;
            } 

            p
                {
                    font-size: 30px;
                    background-color: white;
                    border: 2px solid black;
                    padding: 20px;
                    transform: skew(0deg,-7deg);
                    position: relative;
                    left: -250px;
                    top: 50px;
                }
            .icon
                {
                    transition: ease 0.2s;

                    display: block;
                    z-index: 9;
                    position: fixed;
                    top: 20px;
                    right: 50px;
                    scale: 1;
                }
            .icon:hover
                {
                    transition: ease 0.2s;
                    scale: 1.1;
                    transform: rotate(5deg);
                }
                .textbg
                {
                    border-bottom: 110px solid white;
                    border-left: 25px solid transparent;
                    border-right: 30px solid transparent;
                    height: 0;
                    width: 480px;
                    position: fixed;
                    top: 15px;
                    left: 170px;
            
                    transform: skew(0deg, -2deg);
                }


                
                .card  
                {
                        display:inline;


                        padding-top: 350px;
                        width: 290px;
                        border: 2px solid black;
                        border-radius: 20px;
                        background-color: white;
                        transition: ease 0.2s;

                        position: absolute;
                }
                #card1
                {
                        /*originally I had z index on the negativs, but uh htat broke really fast lmao. Note to self, never use negative z index again*/
                        z-index: 0;
                        left: 120px;
                        bottom: -80px;
                        transform: rotate(-14deg);
                }


                #card1:hover
                {
                        z-index: 6;
                        transform: rotate(0deg);
                        bottom: 60px;
                }
                #card2
                {
                        z-index: 1;
                        left: 300px;
                        bottom: -50px;
                        transform: rotate(-5deg);
                }
                
                #adobe_i
                {
                    position: absolute;
                    top: -90px;
                    left: -65px;
                    transform: scale(0.4);
                }


                #card2:hover
                    {
                        z-index: 6;
                        transform: rotate(0deg);
                        bottom: 60px;
                    }
                #card3
                    {
                        z-index: 2;
                        left: 400px;
                        bottom: -45px;
                        transform: rotate(-2deg);
                    }

                #card3:hover
                    {
                        z-index: 6;
                        bottom: 60px;
                        transform: rotate(0deg);
                    }
                #card4
                    {
                        z-index: 3;
                        left: 600px;
                        bottom: -40px;
                        transform: rotate(5deg)
                    }
                #card4:hover
                    {
                        z-index: 6;
                        transform: rotate(0deg);
                        bottom: 60px;
                    }
                #card5
                    {
                        z-index: 4;
                        left: 800px;
                        bottom: -50px;
                        transform: rotate(10deg);
                    }
                #card5:hover
                    {
                        z-index: 6;
                        transform: rotate(0deg);
                        bottom: 60px;
                    }
                #card6
                    {
                        z-index: 5;
                        left: 1000px;
                        bottom: -100px;
                        transform: rotate(20deg);
                    }
                #card6:hover
                    {
                        z-index: 6;
                        transform: rotate(0deg);
                        bottom: 60px;
                    }
                .clock
                    {
                        position: absolute;

                        object-fit: contain;
                        top: 0;
                        height: 350px;
                        width: 290px;
                        border-radius: 18px;
                    }   

                body
                    {
                        transition: ease 0.1s;

                        overflow: hidden;
                    }
    }