@font-face {
    font-family: expose;
    src: url(../img/Expose-Regular.ttf);
}

body 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background-image: url(../img/smthsmth.png);
        object-fit: cover;
        background-position: 50% 50%;
        background-attachment: fixed;
    }



    .square
    {
        height: 150px;
        width: 120%; 
        background-color: black;
        position: fixed;
        top: 0vh;
        left: 0vh;
        z-index: 0;
    }

h 
    {
        z-index: 2;
        font-family: expose; 
        font-size: 110px;
        position: fixed;
        top: 0;
        left: 220px;
        
        transform: skew(0deg, -2deg);
    }

.textbg 
    {
        z-index: 1;
        border-bottom: 110px solid white;
        border-left: 25px solid transparent;
        border-right: 30px solid transparent;
        height: 0;
        width: 500px;
        position: fixed;
        top: 15px;
        left: 170px;

        transform: skew(0deg, -2deg);
    }

.icon
    {
        z-index: 4;
        position: fixed;
        top: 20px;
        right: 50px;
    }

p
    {
        font-size: 30px;
        background-color: white;
        border: 2px solid black;
        padding: 20px;
        transform: skew(0deg,-7deg);
        position: relative;
        left: -250px;
        top: 50px;
    }

.sidenav 
    {
      height: 40%;
      width: 0; /*This is gonna be changed in js to expand*/
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
      transform: skewX(-5deg);
      transform-origin: top;
    }
    
    /* The navigation menu links */
.sidenav a 
    {
        font-family: expose;

    
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
.sidenav a:hover 
    {
      color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
.sidenav .closebtn 
    {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main 
    {
      transition: margin-left .5s;
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
    {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

.btn
   {
    z-index: 1;
    position: fixed;
    transition: ease .2s;
    top: 35px;
    left: 40px;
   }

.btn:hover
   {
        transform: rotate(2deg) scale(1.1);
   }

#home
   {
    transform: skew(0deg, -7deg);
   }

#port
   {
    transform: skew(2deg, 1deg);
   }

#contact
   {
    transform: skew(0deg, 7deg);
   }

.card  
   {
        padding-top: 350px;
        padding-left: 290px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
        transition: ease 0.2s;
        height: 350px;
        width: 290px;
   }
#card1
   {
        z-index: -4;
        position: relative;
        left: -400px;
        top: 540px;
        rotate: -20deg;
   }

#card1:hover
   {
    z-index: 0;
   }
/*#card2
   {
        z-index: -3;
        position: relative;
        left: -180px;
        top: 140px;
        rotate: -10deg;
   }
#card3
    {
        z-index: -2;
        position: relative;
        left: 80px;
        top: -250px;
        rotate: 0deg;
    }
#card4
    {
        z-index: -1;
        position: relative;
        left: 350px;
        top: -500px;
        rotate: 10deg;
    }